<h1> Recipes </h1>

<ul>
<% @recipes.each do |recipe| %>
  <%= link_to recipe do %>
  <li>
    <p><%= recipe.title %> <%= !recipe.made_it_yet ? '[NEW]' : '' %></p>
  </li>
  <% end %>
<% end %>
</ul>

<%= link_to 'Add a New Recipe', new_recipe_path %>

<footer>
  <%= link_to 'See all ingredients', ingredients_path %>
</footer>
