<h1> New Recipe </h1>

<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :made_it_yet %>
    <%= f.check_box :made_it_yet %>
  </div>
  <div>
    <h4> Ingredients </h4>
    <div class='ingredients-list'>
      <%= f.fields_for :recipe_components do |rc_fields| %>
        <p>
          <%= rc_fields.text_field :quantity, placeholder: 'Quantity' %>
          <%= rc_fields.text_field :unit, placeholder: 'Unit' %>
          of
          <%= rc_fields.collection_select(:ingredient_id, Ingredient.all, :id, :name) %>
          <%= rc_fields.text_field :prep_notes, placeholder: 'Notes' %>
          <%= rc_fields.label :_destroy, 'Remove?' %>
          <%= rc_fields.check_box :_destroy %>
        </p>
      <% end %>
    </div>
    <div class='new-ingredients'>
      <p><%= label_tag 'new_ingredients', 'Add New Ingredients Below. Required Format: "1 cup of flour; 2 cubes of sugar; ..."' %></p>
      <p><%= text_area_tag 'new_ingredients' %></p>
    </div>
  </div>

  <%= f.submit "New Recipe" %> <!-- POST to `/recipes` -->
<% end %>

<%= link_to 'Cancel', recipes_path %>
