<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>
<p>
  You have <%= @recipe.made_it_yet ? "already" : "not yet" %> tried out this recipe.
</p>

<ul>
  <lh> Ingredients: </lh>
  <% @recipe.recipe_components.each do |component| %>
  <li class="<%= component.ingredient.is_available ? 'available' : 'not-available'%>">
    <%= link_to component.ingredient do %>
      <p> <%= component.quantity %> <%= component.unit %> of <%= component.ingredient.name %> </p>
    <% end %>
  </li>
  <% end %>
</ul>

<%= button_to 'Edit Recipe', edit_recipe_path, {method: :get} %>
<%= button_to 'Delete Recipe', recipe_path, {method: :delete}%>

<footer>
  <%= link_to '< Back to Recipes', recipes_path %>
</footer>
